@font-face {
    font-family: Yellowed-Light;
    src: url(Yellowed-Light.ttf);
}
body{
    background-color: #dfd7cf !important; 
}
h1 { font-family: Yellowed-Light;}
/* ---------------------------------------------------Header */

.tituloNavegacion{
    color: white;
}
/* ---------------------------------------------------Main */
/* Seccion 1 */

/* Seccion 2 */
.tituloSeccion2{
    width: 270px;
}

.seccion2{
    background-color: #92b6c2;
}

.card-text{
    color: white;
}

/* Footer */
.footer{
    background-image: url(/img/Footerbc.jpeg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;

}
.footer--contImagen{
    background-color: #dfd7cf;
}

/* ----------------------------------------- MEDIA QUERY */

@media (max-width: 743px) {
    /* Header */
    .headerMobile{
        background-image: url(/img/bcNav.jpeg);
        height: 170px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar-brand {}
    .headerDeskTablet{
        display: none;
    }
    .tituloNavegacion{
        display: none;
    }
    .NavDeskTablet{
        display: none;
    }
    .NavDeskTablet{
        display: none;
        background-color: rgba(255, 0, 0, 0);
    }
    .containerNoticias{
        flex-direction: column-reverse !important;
    }
    .imgseccion1{
        width: 230px;
        height: 280px;


    }
    .seccion3Contenedor1{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .seccion3Contenedor2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgseccion3{
        width: 350px;
        height: 195px;
    }
    .footer{
        height: 240px;
    }
    .footer--contImagen__img{
        width: 75px;
        height: 61px;
    }

}

@media (min-width: 744px) {
    .headerDeskTablet{
        background-image: url('/img/bcNav.jpeg');
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .headerMobile{
        display: none;
        background-color: rgba(255, 0, 0, 0);
    }
}





/* Imagen 1: Ancho: 428px */